{% extends 'base.html' %}

{% block additional_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block left_nav %}
	<div class="nav-panel">
		<a class="nav-link" href="{% url 'app:product_list' %}">search</a>
		<a class="nav-link" href="{% url 'app:product_create' %}">Add product</a>
		<a class="nav-link" href="">About us</a>
	</div>
{% endblock %}

{% block content %}
	<div class="content-container">
		<div class="create-block">
			<h2 class="page-name">Adding a new brand</h2>
			
			<form class="create-form" enctype="multipart/form-data" method="post">
				{% csrf_token %}

				<label class="create-form-field" for="{{ form.name.id_for_lable }}">Name:</label>
				<div class="create-form-property">{{ form.name }}{{ form.name.errors }}
					{% if form.non_field_errors %}
					<div class="error-msg">{{ form.non_field_errors }}</div>
					{% endif %}
				</div>

				<label class="create-form-field" for="{{ form.country.id_for_lable }}">Country:</label>
				<div class="create-form-property-btn">{{ form.country }}{{ form.country.errors }}
					<a class="add-btn" href="{% url 'app:country_create' %}">add country</a>
				</div>

				<label class="create-form-field" for="{{ form.description.id_for_lable }}">Description:</label>
				<div class="create-form-property">{{ form.description }}{{ form.description.errors }}</div>

				<div></div>
				<button class="create-form-btn" type="submit">send request</button>
			</form>
		</div>	
	</div>
{% endblock %}