*.pyc

my_cos/.env
my_cos/media/product_images
my_cos/media/MISHKI_files

.git

my_cos/administration/__pycache__
my_cos/app/__pycache__
my_cos/auth/__pycache__
my_cos/my_cos/__pycache__

my_cos/my_cos/local_settings.py

my_cos/config/cosmos.conf