/* Fonts */

@font-face {
	font-family: 'Montserrat Medium';
	font-weight: 400;
	font-style: normal;
	src: local('Montserrat Medium'),
	url('/media/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Bold';
	font-weight: 400;
	font-style: bold;
	src: local('Montserrat Bold'),
	url('/media/fonts/Montserrat-Bold.ttf') format('truetype');
}

/* main styles for body */

body {
	background-color: rgb(167, 191, 219);
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Montserrat Medium';
	letter-spacing: 0.1px;
}
ul {
	list-style-position: inside;
	padding-left: 1.2em;
	list-style: none;
}

/* main.css */
/* base */

.grid-wrapper {
	background: url('/media/background.png');
	margin: 0;
	display: grid;
	grid-template-columns: 30% 70%;
	min-height: 100vh; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.left-nav {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	border-right: 1px solid rgb(255, 255, 255);
	-webkit-box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.6); 
	box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.6);
}
.content-block {
	text-align: center;
	padding: 10px 0;
}
.content-container {
	background-color:  rgba(255, 255, 255, 0.8);
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.page-name {
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid  rgba(0, 0, 0, 0.3);
	text-align: center;
	text-transform: uppercase;
	color: rgba(98, 129, 164, 1);
}

/* BTN's */

::-webkit-file-upload-button {
	display: inline-block;
	background: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	padding: 10px;
	border-radius: 8px;
	border: 1px solid rgba(98, 129, 164);
	text-align: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: 'Montserrat Medium';
	letter-spacing: 0.1px;
}
::-webkit-file-upload-button:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}
.pagination-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	margin: 10px 0 10px auto;
	padding-right: 40px; 
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.pagination-side-link {
	padding: 0 4px;
}
.pagination-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border: 1px solid transparent;
}
.pagination-link:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	border: 1px solid rgb(255, 255, 255);
}
.pagination-icon {
	width: 20px;
	height: 20px;
}
.pagination-counter {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	padding: 1px 3px;
	border-radius: 4px;
	border: 1px solid black;
	font-size: 12px;
}
.counter-center {
	margin: 0 2px;
}

/* Forms */

.form-general {
	padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(98, 129, 164);
    font-family: 'Montserrat Medium';
	letter-spacing: 0.1px;
}
.form-input {
	width: 40%;
}
.form-textarea {
	width: 95%;
}
.form-link {
}
.form-boolean {
	background: linear-gradient(rgb(98, 129, 164), rgb(255,255,255, 0.7));
	width: 20px;
	margin: 30px 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}
.form-img a,
.form-ingredients-img a {
	text-decoration: none;
}

/* left-nav */

.account-container{
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.acc-link {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: rgba(0,0,0);
	font-size: 10px;
}
.acc-link:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}
.empty-row {
	padding: 10px;
}
.acc-btn {
	border-right: 1px solid rgb(255,255,255);
	border-left: 1px solid rgb(255,255,255);
}
.logo-container {
	margin: 40px 20px;
}
.logo {
	width: 100%;
	border-radius: 8px;
}
.search-form {
	display: flex;
	margin: 0 auto 20px auto;
	width: 60%;
}
.search-form-input {
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
	height: 50px;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat Medium';
	letter-spacing: 0.1px;
	font-size: 10px;
}
.search-btn {
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	border-left: none;
	width: 56px;
	height: 56px;
}
.search-btn:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
}
.search-icon {
	width: 16px;
	height: 16px;
}
.nav-panel {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 40px auto;
}
.nav-link {	
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255,255,255, 0.5);
	margin: 5px 0;
	padding: 10px;
	text-decoration: none;
	border: 1px solid rgb(255, 255, 255);
	font-family: 'Montserrat Bold';
	text-transform: uppercase;
}
.nav-link:hover {
	color: rgba(98, 129, 164, 1);
	border: 1px solid rgba(98, 129, 164, 0.5);
	border-radius: 5px;
}
.nav-link-aditional {
	margin: 10px 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.nav-link-aditional:hover {
	color: rgba(153, 6, 6, 1);
}
.nav-link-active {
	background-color: rgba(98, 129, 164, 0.5);
	border: 1px solid rgba(98, 129, 164, 1);
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
.nav-link-active:hover {
	border: 1px solid rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

/* Product list */

.list-container {
	width: 90%;
	margin: 0 auto;
}
.list-row {
	display: flex;
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 8px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.list-item-link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.list-item-link .list-row:hover {
	border: 1px solid rgb(98, 129, 164);
}
.list-item-link .list-row .product-simple-info:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255, 0.7));
	text-decoration: none;
}
.list-img {
	width: 150px;
	height: 100px;
	border: 5px solid rgba(0, 0, 0, 1);
	border-radius: 8px; 
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.product-simple-info {
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	border-radius: 8px;
	margin: 0 5px 0 20px;
	padding: 10px 30px;
	width: 70%;
	text-align: left;
	line-height: 5px;
}
.list-country-img-block {
	margin: 10px auto;
}
.list-country-img {
	width: 30px;	
}
.non-wrapper {
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}
.not-content {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0);
	height: 200px;
	text-align: center;
}
.non-content-text-block {
	background-color: rgb(255, 255, 255);
	width: 50%;
	padding: 40px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.arrow-container {
	display: flex;
	flex-direction: column;
}
.top-arrow-block {
	padding: 30px 10px;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgb(255, 255, 255);
}
.non-content-img {
	max-height: 200px;
}

/* Product detail */

.top-button-block {
	display: flex;
	align-items: center;
}
.top-back-btn-block {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}
.back-btn {
	background-color:  rgba(255, 255, 255, 0);
	height: 30px;
	width: 30px;
	border: none;
	margin: 10px;
	padding: 0;
	color: rgb(98, 129, 164);
}
.back-btn:hover {
	cursor: pointer;
}
.country-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
}
.info-block {
	border-radius: 8px;
	margin: 10px;
	padding: 10px;
}
.name-block {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.detail-img-block {
	display: flex;
}
.detail-img-side {
	display: flex;
	flex-direction: column;
	width: 20%;
}
.detail-img {
	width: 60%;
	border: 5px solid rgba(98, 129, 164, 0.5);
	border-radius: 8px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.social-icon {
	display: inline-block;
	padding: 4px;
	margin: 5px; 
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	align-items: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.social-icon:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255, 0.7));
}
.social-img-left {
	height: 50px;
	width: 100%;
}
.social-img-right {
	height: 50px;
	width: 100%;
}
.social-title {
	font-size: 20px;
	line-height: 5px;
	text-align: center;
}
.social-block {
	display: flex;
	justify-content: center;
}
.bottom-social-icon-wrapper {
	margin: 10px 2px;
}
.bottom-social-icon {
	height: 40px;
	width: 40px;
}
.facebook {
	color: rgb(81, 122, 245);
}
.telegram {
	color: rgb(47, 190, 222);
}
.instagram {

}
.info-block {
	display: grid;
	grid-template-columns: 20% 80%;
	text-align: left;
}
.card-property-name {
	margin-top: 10px;
	text-transform: uppercase;
}
.card-property {
	background-color: rgba(98, 129, 164);
	border-radius: 8px;
	margin-bottom: 5px; 
	padding: 10px;
	color: 	rgba(255, 255, 255, 1);
}
.detail-ingredients-img {
	width: 98%;
	margin: 30px 0 20px 0; 
}
.card-ingredients-img-name {
	margin-top: 40px; 
}
.bottom-btn-block,
.bottom-back-btn-wrapper,
.bottom-delete-btn-wrapper {
	display: flex;
}
.bottom-back-btn-wrapper,
.bottom-delete-btn-wrapper {
	width: 50%;
}
.bottom-back-btn-wrapper {
	justify-content: flex-start;
}
.bottom-delete-btn-wrapper {
	justify-content: flex-end;
}
.delete-btn {
	height: 30px;
	width: 30px;
	margin: 10px;
	color: rgba(153, 6, 6, 0.8);
}

/* Product create */

.create-form {
	display: grid;
	padding: 20px 40px;
	grid-template-columns: 20% 80%;
	text-align: left;
}
.create-form-field {
	padding: 20px 6px;
	font-weight: bold;
}
.create-form-field-approved {
	padding: 10px 20px;
	font-weight: bold;
}
.create-form-property-btn {
	display: flex;
	padding: 10px;
}
.create-form-property {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.form-img,
.form-ingredients-img,
.create-form-checkbox {
	background: linear-gradient( to right, rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
}
.currently-img {
	width: 40%;
	min-width: 200px;
	margin-bottom: 20px;
	border-radius: 8px;
}
.approved-block {
	margin: 30px 0;
}
.error-msg {
	display: inline-block;
	max-width: 40%;
	margin: 4px 0;
	padding: 8px;
	border: 1px solid rgba(98, 129, 164);
	border-radius: 5px; 
	color: red;
}
.create-form-btn {
	background: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	width: 80px;
	margin: 30px auto;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid rgba(98, 129, 164);
	font-family: 'Montserrat Medium';
	letter-spacing: 0.1px;
}
.create-form-btn:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}

/* Product delete */

.delete-msg-block {
	background-color: rgb(255, 255, 255);
	width: 60%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
}
.delete-btn-block {
	display: flex;
	justify-content: center;
	margin-bottom: 30px; 
}
.delete-form-btn {
	background-color: rgba(255, 255, 255, 0);
	margin: 10px;
	padding: 0;
	border: none;
	cursor: pointer;
}
.btn-accept {
	color: rgb(20, 128, 24);
}
.btn-back {
	color: rgba(153, 6, 6, 1);
}

/* login */

.login-block {
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}

/* Success page */

.success-block {
	background-color: rgba(255, 255, 255, 0.8);
	height: 100px;
	padding: 20px;
	text-align: center;
	border-radius: 8px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.success-link {
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
	color: rgba(98, 129, 164);
}

/* About us */

.about-us-wrapper-left {
	display: grid;
	grid-template-columns: 30% 70%;
	margin: 10px 0; 
	text-align: center;
}
.about-us-wrapper-right {
	display: grid;
	grid-template-columns: 70% 30%;
	margin: 10px 0;
}
.wrapper-img {
	height: 200px;
	margin: 0 auto;
}
.wrapper-msg {
	padding: 0 20px;
}

/* administration general */

.admin-panel-mark {
	color: rgba(153, 6, 6, 1);
	line-height: 5px;
}


/* media requestst */

@media screen and (max-width: 500px) {
	.grid-wrapper {
		display: flex;
		flex-direction: column;
	}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.grid-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.content-block {
		padding: 30px 0;
	}

	/* left-nav */

	.left-nav {
		min-height: 50vh;
		border-bottom: 1px solid rgb(255, 255, 255);
		-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
		box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	}
	.search-form {
		width: 80%;
		margin: 60px auto;
	}
	.search-form-input {
		height: 150px;
		font-size: 30px;
	}
	.search-btn {
		height: 156px;
		width: 156px;
	}
	.search-icon {
		height: 30px;
		width: 30px;
	}
	.nav-link {
		margin: 15px 0;
		padding: 20px;
		font-size: 30px;
	}

	/* Product list */

	.pagination-icon {
		height: 45px;
		width: 45px;
	}
	.pagination-counter {
		font-size: 30px;
	}
	.list-img {
		height: 200px;
		width: 300px;
	}
	.product-simple-info {
		font-size: 30px;
	}
}