/* Fonts */

@font-face {
	font-family: 'Montserrat Medium';
	font-weight: 400;
	font-style: normal;
	src: local('Montserrat Medium'),
	url('/media/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Bold';
	font-weight: 400;
	font-style: bold;
	src: local('Montserrat Bold'),
	url('/media/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Ultra-Regular';
	font-weight: 400;
	font-style: normal;
	src: local('Ultra-Regular'),
	url('/media/fonts/Ultra-Regular.ttf') format('truetype');
}

/* main styles for body */

body {
	background-color: rgb(167, 191, 219);
	margin: 0;
	padding: 0;
	border: none;
	font-family: Garamond, Helvetica, Arial, sans-serif !important;
}
ul {
	list-style-position: inside;
	padding-left: 1.2em;
	list-style: none;
}

/* main.css */
/* base */

.grid-wrapper {
	background: url('/media/background.png');
	margin: 0;
	display: grid;
	grid-template-columns: 30% 70%;
	min-height: 100vh; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.left-nav {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	border-right: 1px solid rgb(255, 255, 255);
	-webkit-box-shadow: 5px 0 12px 0 rgba(0,0,0,0.6);
	box-shadow: 5px 0 12px 0 rgba(0,0,0,0.6);
}
.content-block {
	text-align: center;
	padding: 10px 0;
}
.content-container {
	background-color:  rgba(255, 255, 255, 0.8);
	width: 96%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.page-name {
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid  rgba(0, 0, 0, 0.3);
	text-align: center;
	text-transform: uppercase;
	color: rgba(98, 129, 164, 1);
}

/* BTN's */

::-webkit-file-upload-button {
	display: inline-block;
	background: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	padding: 10px;
	border-radius: 8px;
	border: 1px solid rgb(98, 129, 164);
	text-align: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: Garamond, Helvetica, Arial, sans-serif !important;
}
::-webkit-file-upload-button:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}
.pagination-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	margin: 10px 0 10px auto;
	padding-right: 40px; 
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.pagination-side-link {
	padding: 0 4px;
}
.pagination-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border: 1px solid transparent;
}
.pagination-link:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	border: 1px solid rgb(255, 255, 255);
}
.pagination-icon {
	width: 20px;
	height: 20px;
}
.pagination-counter {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	padding: 1px 3px;
	border-radius: 4px;
	border: 1px solid black;
	font-size: 12px;
}
.counter-center {
	margin: 0 2px;
}

/* Forms */

.form-general {
	padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(98, 129, 164);
    font-family: Garamond, Helvetica, Arial, sans-serif !important;
}
.form-input {
	width: 40%;
}
.form-textarea {
	width: 95%;
}
.form-link {
}
.form-boolean {
	background: linear-gradient(rgb(98, 129, 164), rgba(255,255,255, 0.7));
	width: 20px;
	margin: 30px 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}
.form-img a,
.form-ingredients-img a {
	text-decoration: none;
}

/* left-nav */

.account-container{
	background-image: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.acc-link {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: rgb(0,0,0);
	font-size: 10px;
}
.acc-link:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}
.empty-row {
	padding: 10px;
}
.acc-btn {
	border-right: 1px solid rgb(255,255,255);
	border-left: 1px solid rgb(255,255,255);
}
.logo-container {
	margin: 40px 20px;
}
.logo-link:hover .logo {
	border: 1px solid rgb(255, 255, 255);
}
.logo {
	width: 100%;
	border: 1px solid transparent;
	border-radius: 8px;
}
.search-form {
	display: flex;
	margin: 0 auto 20px auto;
	width: 100%;
	min-width: 160px;
}
.search-form-input {
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
	height: 50px;
	width: 50%;
	margin: 0 0 0 auto;
	border: 2px solid rgba(98, 129, 164, 1);
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	font-family: Garamond, Helvetica, Arial, sans-serif !important;
	font-size: 10px;
}
.search-form-input:focus {
	outline-color: rgba(98, 129, 164, 1);
	border: 1px solid transparent;
	width: 70%;
}
.search-btn {
	background-image: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	width: 56px;
	height: 56px;
	margin: 0 auto 0 0;
	border: 2px solid rgba(98, 129, 164, 1);
	border-left: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	color: rgba(98, 129, 164, 1);
}
.search-btn:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
}
.search-icon {
	width: 16px;
	height: 16px;
}
.nav-panel {
	display: flex;
	flex-direction: column;
	width: 50%;
	min-width: 160px;
	margin: 40px auto;
}
.nav-link {	
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255,255,255, 0.5);
	margin: 5px 0;
	padding: 10px 0;
	text-decoration: none;
	border: 1px solid rgb(255, 255, 255);
	font-family: Garamond, Helvetica, Arial, sans-serif !important;
	font-weight: bold;
}
.nav-link:hover {
	color: rgba(98, 129, 164, 1);
	border: 1px solid rgba(98, 129, 164, 0.5);
	border-radius: 5px;
}
.nav-link-aditional {
	margin: 10px 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.nav-link-aditional:hover {
	color: rgba(153, 6, 6, 1);
}
.nav-link-active {
	background-color: rgba(98, 129, 164, 0.5);
	border: 1px solid rgba(98, 129, 164, 1);
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
.nav-link-active:hover {
	border: 1px solid rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
.language-block {
	display: inline-block;
	position: relative;
	text-align: center;
	align-items: center;
}
.language-code {
	background-color: rgb(255, 255, 255);
	padding: 2px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}
.language-icon {
	height: 16px;
	width: 16px;
}
.language-dropdown-block {
	background-color: rgba(255, 255, 255, 1);
	display: none;
	position: absolute;
	padding: 5px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	z-index: 1;
}
.language-btn {
	background-color: rgba(0, 0, 0, 0);
	height: 30px;
	width: 30px;
	border: none;
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
}
.language-btn:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
}
.language-block:hover .language-dropdown-block {
	display: block;
}

/* Main page */

.main-page-name-block {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.main-page-title {
	margin: 0 30px;
	text-transform: uppercase;
}
.main-page-content-block {
	display: grid;
	grid-template-columns: minmax(200px, 33.33%) minmax(200px, 33.33%) minmax(200px, 33.33%);
}
.main-page-card-link {
	margin: 4px;
	text-decoration: none;
	color: rgb(0, 0, 0);
}
.main-page-card {
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	border: 1px solid rgb(98, 129, 164);
	border-radius: 5px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.main-page-card-name {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-page-card-title {
	padding-top: 10px;
	margin: 0;
}
.main-page-img {
	border-radius: 8px;
	width: 70%;
	margin: 10px 0;
	border: 1px solid rgb(255, 255, 255);
}
.main-page-card-link:hover .main-page-card {
	background-image: linear-gradient(rgb(98, 129, 164), rgba(255,255,255, 0.7));
	border: 1px solid rgb(255, 255, 255);
}
.main-page-card-link:hover .main-page-card .main-page-img {
	border: 1px solid rgb(98, 129, 164);
}
.main-page-card-link:hover .main-page-card .main-page-card-name .main-page-card-title {
	color: rgb(255, 255, 255);
} 

/* Product list */

.list-container {
	width: 98%;
	margin: 0 auto;
}
.list-row {
	display: flex;
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.list-item-link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.list-item-link .list-row:hover {
	border: 1px solid rgb(98, 129, 164);
}
.list-item-link .list-row:hover .product-simple-info {
	background-image: linear-gradient(rgb(98, 129, 164), rgba(255,255,255, 0.7));
	text-decoration: none;
}
.list-item-link .list-row:hover .product-simple-info .product-simple-info-name {
	color: rgb(255, 255, 255);
}
.list-img {
	width: 150px;
	height: 100px;
	border: 5px solid rgba(0, 0, 0, 1);
	border-radius: 5px;
}
.list-item-link .list-row:hover .list-img {
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.product-simple-info {
	background-image: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	border-radius: 8px;
	margin: 0 5px 0 20px;
	padding: 20px 30px;
	width: 70%;
	text-align: left;
}
.product-simple-info-name {
	margin: 0;
}
.list-country-img-block {
	margin: 10px auto;
}
.list-country-img {
	width: 30px;
	border: 1px solid rgba(98, 129, 164, 0.5);
	border-radius: 50%;
}
.non-wrapper {
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}
.not-content {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0);
	min-height: 200px;
	text-align: center;
}
.non-content-text-block {
	background-color: rgb(255, 255, 255);
	width: 50%;
	padding: 40px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.arrow-container {
	display: flex;
	flex-direction: column;
}
.top-arrow-block {
	padding: 30px 10px;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgb(255, 255, 255);
}
.non-content-img {
	max-height: 200px;
}

/* Product detail */

.top-button-block {
	display: flex;
	align-items: center;
}
.top-back-btn-block {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}
.back-btn {
	background-color:  rgba(255, 255, 255, 0);
	height: 30px;
	width: 30px;
	border: none;
	margin: 10px;
	padding: 0;
	color: rgb(98, 129, 164);
}
.back-btn:hover {
	cursor: pointer;
}
.country-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
}
.detail-country-img{
	border: 1px solid rgba(98, 129, 164, 0.5);
	border-radius: 50%;
}
.detail-country-name {
	margin: 0 30px 0 10px;
}
.info-block {
	display: grid;
	margin: 20px;
	grid-template-columns: minmax(120px, 15%) minmax(200px, 85%);
	text-align: left;
}
.name-block {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.detail-img-block {
	display: flex;
}
.detail-img-side-left,
.detail-img-side-right {
	display: flex;
	flex-direction: column;
	width: 20%;
}
.detail-img-side-left {
	align-items: flex-start;
}
.detail-img-side-right {
	align-items: flex-end;
}
.detail-img {
	width: 60%;
	border: 5px solid rgba(98, 129, 164, 0.5);
	border-radius: 8px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.social-icon {
	display: inline-block;
	width: 80%;
	margin: 2px 0;
	padding: 4px;
	text-align: center;
}
.social-img {
	width: 100%;
	border-radius: 50%;
}
.social-img:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgba(255,255,255, 0.7));
	border: 1px solid transparent;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.social-title-block {
	width: 80%;
}
.social-title {
	font-size: 20px;
	line-height: 5px;
	text-align: center;
}
.social-block {
	display: flex;
	justify-content: center;
	margin: 16px 0 14px 0;
}
.bottom-social-icon-wrapper {
	height: 40px;
	width: 40px;
	margin: 0 2px;
}
.bottom-social-icon {
	height: 100%;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 50%;
}
.bottom-social-icon:hover {
	border: 2px solid transparent;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.facebook {
	color: rgb(81, 122, 245);
}
.telegram {
	color: rgb(47, 190, 222);
}
.card-property-name {
	margin-top: 10px;
	text-transform: uppercase;
}
.card-property-name-ingredients {
	padding-top: 14px;
}
.card-property-name-info {
	display: flex;
	flex-direction: column;
	text-transform: none;
	width: 114px;
	margin: 20px auto;
	padding: 4px;
	border-radius: 5px;
}
.card-property {
	border-radius: 8px;
	margin-bottom: 5px; 
	padding: 10px;
	color: 	rgba(0, 0, 0, 1);
}
.card-property-ingredients {
	background-image: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 5px; 
}
.card-property-block {
	position: relative;
}
.card-ingredients-link {
	margin: 1px;
	color: rgb(0, 0, 0);
}
.card-ingredient-link-comma {
	color: black;
}
.safe {
	color: rgb(16, 115, 41);
}
.neutral {
	color: rgb(156, 156, 22);
}
.harmful {
	color: rgb(166, 13, 13);
}
.absent {
	color: rgb(127, 130, 128);
}
.card-property-drop-block {
	background-image: linear-gradient(rgba(98, 129, 164, 1), rgba(255,255,255, 1));
	display: none;
	position: absolute;
	margin-top: 2px;
	padding: 8px;
	border: 1px solid rgb(98, 129, 164);
	border-radius: 5px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	z-index: 1;
}
.card-property-drop-block-title {
	color: rgb(255, 255, 255);
	margin: 0 0 6px 0;
	padding: 4px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4); 
}
.card-property-block:hover .card-ingredients-link {
	cursor: pointer;
}
.card-property-block:hover .card-property-drop-block {
	display: block;
}
.bottom-btn-block,
.bottom-back-btn-wrapper,
.bottom-delete-btn-wrapper {
	display: flex;
}
.bottom-btn-block {
	margin-top: 30px;
}
.bottom-back-btn-wrapper,
.bottom-delete-btn-wrapper {
	width: 50%;
}
.bottom-back-btn-wrapper {
	justify-content: flex-start;
}
.bottom-delete-btn-wrapper {
	justify-content: flex-end;
}
.delete-btn {
	height: 30px;
	width: 30px;
	margin: 10px;
	color: rgba(153, 6, 6, 0.8);
}

/* Product create */

.create-form {
	display: grid;
	padding: 20px 40px;
	grid-template-columns: minmax(120px, 15%) minmax(200px, 85%);
	text-align: left;
}
.create-form-field {
	padding: 20px 6px;
	font-weight: bold;
}
.create-form-field-approved {
	padding: 10px 20px 10px 6px;
	font-weight: bold;
}
.create-form-property-btn {
	display: flex;
	padding: 10px;
}
.create-form-property {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.form-img,
.form-ingredients-img,
.create-form-checkbox {
	background: linear-gradient( to right, rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
}
.currently-img {
	width: 40%;
	min-width: 200px;
	margin-bottom: 20px;
	border-radius: 8px;
}
.approved-block {
	margin: 30px 0;
}
.error-msg {
	display: inline-block;
	max-width: 40%;
	margin: 4px 0;
	padding: 8px;
	border: 1px solid rgb(98, 129, 164);
	border-radius: 5px; 
	color: red;
}
.create-form-btn {
	background: linear-gradient(rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	width: 80px;
	margin: 30px auto;
	padding: 10px 0;
	border-radius: 5px;
	border: 1px solid rgb(98, 129, 164);
	font-family: Garamond, Helvetica, Arial, sans-serif !important;
}
.create-form-btn:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}

/* Product delete */

.delete-msg-block {
	background-color: rgb(255, 255, 255);
	width: 60%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
}
.delete-btn-block {
	display: flex;
	justify-content: center;
	margin-bottom: 30px; 
}
.delete-form-btn {
	background-color: rgba(255, 255, 255, 0);
	margin: 10px;
	padding: 0;
	border: none;
	cursor: pointer;
}
.btn-accept {
	color: rgb(20, 128, 24);
}
.btn-back {
	color: rgba(153, 6, 6, 1);
}
.delete-page-btn {
	height: 32px;
	width: 32px;
}

/* login */

.login-block {
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}

/* Success page */

.success-block {
	background-color: rgba(255, 255, 255, 0.8);
	height: 100px;
	padding: 20px;
	text-align: center;
	border-radius: 8px;
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.success-link {
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
	color: rgb(98, 129, 164);
}

/* About us */

.about-us-wrapper-left,
.about-us-wrapper-right {
	display: grid;
	margin: 5px 0; 
}
.about-us-wrapper-left {
	grid-template-columns: minmax(200px, 30%) minmax(300px, 70%);
}
.about-us-wrapper-right {
	grid-template-columns:  minmax(300px, 70%) minmax(200px, 30%);
}
.about-us-img-container {
	display: flex;
	align-items: center;
}
.wrapper-img {
	height: 200px;
	margin: 0 auto;
}
.wrapper-msg {
	background: linear-gradient( to right, rgba(168, 212, 224, 0.7), rgba(255,255,255, 0.7));
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: start;
	margin: 20px;
	padding: 0 20px;
	border-radius: 5px;
}
.about-us-socil-block {
	display: flex;
}
.about-us-social-link {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 4px 10px 4px;
}
.about-us-social-icon {
	height: 40px;
	width: 40px;
}

/* administration general */

.admin-panel-mark {
	color: rgba(153, 6, 6, 1);
	line-height: 5px;
}

/* media requestst */

/* iPhoneX */
/* landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
	.grid-wrapper {
		min-width: 200vh;
	}

	/* left-nav */

	.logo-container {
		margin: 10px 10px;
	}
	.search-form {
		width: 80%;
		margin: 0 auto 10px auto;
	}
	.nav-panel {
		margin: 10px auto;
	}

	/* Main page */

	.main-page-card {
		min-height: 260px;
	}

	/* Product list */

	.pagination-icon {
		height: 30px;
		width: 30px;
	}
	.pagination-counter {
		font-size: 20px;
	}

	/* Product detail */

	.social-title {
		font-size: 14px;
		font-weight: bold;
	}
	.detail-img {
		width: 80%;
	}
	.card-property-name {
		font-size: 12px;
	}

	/* Product create */

	.create-form {
		grid-template-columns: minmax(140px, 20%) minmax(200px, 80%);
	}

	/* Success page */

	.top-arrow-block {
		padding: 50px 10px;
	}
	.non-content-img-block {
		display: flex;
		align-items: center;
	}
	.non-content-img {
		max-height: 300px;
	}
}
/* portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  	.grid-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.content-block {
		padding: 30px 0;
	}

	/* left-nav */

	.left-nav {
		min-height: 50vh;
		border-bottom: 1px solid rgb(255, 255, 255);
		-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
		box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
	}
	.search-form {
		width: 80%;
		margin: 60px auto;
	}
	.search-form-input {
		height: 150px;
		width: 100%;
		font-size: 30px;
		border: 2px solid rgba(98, 129, 164, 1);
		border-right: none;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.search-form-input:hover {
		width: 100%;
	}
	.search-btn {
		height: 156px;
		width: 156px;
		border: 2px solid rgba(98, 129, 164, 1);
		border-left: none;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
	.search-icon {
		height: 30px;
		width: 30px;
	}
	.nav-link {
		margin: 15px 0;
		padding: 20px;
		font-size: 30px;
	}
	.language-block {
		margin-bottom: 40px;
	}
	.language-row {
		font-size: 40px;
	}
	.language-code {
		font-size: 40px;
	}
	.language-icon {
		height: 40px;
		width: 40px;
	}
	.language-btn {
		height: 80px;
		width: 80px;
		font-size: 40px;
	}

	/* Main page */

	.main-page-title {
		font-size: 22px;
	}
	.main-page-content-block {
		grid-template-columns: minmax(200px, 100%);
	}
	.main-page-card-title {
		font-size: 28px;
	}
	.main-page-card-small {
		font-size: 22px;
	}

	/* Product list */

	.pagination-icon {
		height: 45px;
		width: 45px;
	}
	.pagination-counter {
		font-size: 30px;
	}
	.list-img {
		height: 200px;
		width: 300px;
	}
	.product-simple-info {
		font-size: 30px;
	}

	/* Product detail */

	.back-btn {
		height: 60px;
		width: 60px;
	}
	.detail-country-img {
		height: 60px;
		width: 60px;
	}
	.detail-country-name {
		font-size: 22px;
	}
	.info-block {
		grid-template-columns: minmax(400px, 100%);
	}
	.name-block {
		text-align: center;
		font-size: 28px;
	}
	.detail-img {
		width: 80%;
	}
	.social-block {
		justify-content: flex-end;
		margin: 20px 40px;
	}
	.bottom-social-icon-wrapper {
		height: 80px;
		width: 80px;
		margin: 0 10px;
	}
	.card-property-name {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.card-property-name-info {
		flex-direction: row;
		margin: 0 20px;
		width: 100%;
	}
	.card-property-info-row {
		margin: 0 3px;
	}
	.card-property {
		font-size: 26px;
	}
	.card-ingredient-text,
	.card-property-drop-block-title {
		font-size: 28px;
	}
	.bottom-btn-block {
		margin-top: 100px;
	}

	/* Product create */

	.page-name {
		font-size: 34px;
	}
	.create-form {
		grid-template-columns: minmax(120px, 30%) minmax(200px, 70%);
	}
	.create-form-field {
		font-size: 30px;
	}
	.social-title {
		font-size: 30px;
		font-weight: bold;
	}
	.form-general {
		padding: 24px;
		border-radius: 10px;
		font-size: 26px;
	}
	.form-input {
		width: 80%;
	}
	.create-form-checkbox {
		font-size: 30px;
	} 
	.create-form-btn {
		width: 120px;
		font-size: 36px;
	}

	/* Product update */

	::-webkit-file-upload-button {
		padding: 15px;
		font-size: 26px;
	}
	.currently-img {
		width: 60%;
	}
	.delete-btn {
		height: 60px;
		width: 60px;
	}
	.create-form-field-approved {
		font-size: 30px;
	}
	.create-form-btn {
		min-width: 220px;
	}

	/* Administaration */

	.nav-link-aditional {
		font-size: 30px;
	}

	/* Success page */

	.non-content-text-block {
		font-size: 30px;
	}
	.top-arrow-block {
		padding: 60px 10px;
	}
	.non-content-img-block {
		display: flex;
		align-items: center;
	}
	.non-content-img {
		max-height: 400px;
	}

	/* Delete page */

	.delete-msg-block {
		font-size: 30px;
	}
	.delete-page-btn {
		height: 60px;
		width: 60px;
		margin: 0 20px;
	}
}