/* options reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main styles for body */

body {
	background-color: rgb(167, 191, 219);
}
h2 {
	font-size: 30px;
	font-weight: bold;
}
strong {
	font-weight: bold;
}

/* main.css */
/* base */

.grid-wrapper {
	background: url('/media/background.jpg');
	margin: 0;
	display: grid;
	grid-template-columns: 30% 70%; 
	grid-template-rows: 300vh; 

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.left-nav {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	-webkit-box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.6); 
	box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.6);
}
.content-block {
	text-align: center;
}

/* BTN's */

.btn-block {
	margin: 70px auto 20px auto;
}
.back-btn,
.social-icon {
	color: black;
}
.social-icon {
	margin: 0 20px; 
}

/* left-nav */

.account-container{
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	display: flex;
	justify-content: center;
	margin: 0 0;
	/*border: 1px solid white;*/
	-webkit-box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77); 
	box-shadow: -1px 5px 7px -2px rgba(0,0,0,0.77);
}
.acc-link {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: rgba(0,0,0);
}
.acc-link:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
	color: rgb(255,255,255);
}
.empty-row {
	padding: 10px;
}
.acc-btn {
	border-right: 1px solid rgb(255,255,255);
	border-left: 1px solid rgb(255,255,255);
}
.logo-container {
	margin: 40px 20px;
}
.logo {
	width: 100%;
	border-radius: 8px;
}
.search-form {
	display: flex;
	background-color: rgba(255, 255, 255, 1);
	margin: 0 auto;
	width: 60%;
	opacity: 1;
}
.search-btn {
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	border-left: none;
}
.search-btn:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255));
}
#id_search {
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
	height: 50px;
	width: 100%;
	text-align: center;
}
.nav-panel {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 40px auto;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-link {
	margin: 5px 0 5px 0;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}
.nav-link:hover {
	color: rgba(98, 129, 164);
}

/* block content */

.content-container {
	width: 80%;
	margin: 10px auto;
	padding: 20px;
}

/* Product list */

.list-row {
	display: flex;
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	padding: 10px 10px;
	border-radius: 8px;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}
.list-item-link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.list-item-link .list-row .product-simple-info:hover {
	background-image: linear-gradient(rgb(98, 129, 164), rgb(255,255,255, 0.7));
	text-decoration: none;
}
.list-img {
	width: 150px;
	height: 100px;
	border: 5px solid rgba(0, 0, 0, 1);
	border-radius: 8px; 
	-webkit-box-shadow: 5px 4px 7px 1px rgba(0,0,0,0.55); 
	box-shadow: 5px 4px 7px 1px rgba(0,0,0,0.55);
}
.product-simple-info {
	background-image: linear-gradient(rgb(168, 212, 224, 0.7), rgb(255,255,255, 0.7));
	border-radius: 8px;
	margin: 0 20px;
	padding: 20px 30px;
	width: 70%;
	vertical-align: center;
}
.not-content {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px 20px;
	height: 100px;
	text-align: center;
	border-radius: 8px;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}

/* Product detail */

.detail-card {
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}
.info-block,
.social-block {
	border-radius: 8px;
	margin: 10px 10px;
	padding: 10px 10px;
}
.name-block {
	display: flex;
	justify-content: center;
	margin: 40px;
}
.detail-img {
	width: 55%;
	margin: 0 auto;
	border: 5px solid rgb(98, 129, 164);
	border-radius: 8px;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}
.info-block {
	display: grid;
	grid-template-columns: 20% 80%;
	text-align: left;
}
.card-property-name {
	margin-top: 10px;
	text-transform: uppercase;
}
.card-property {
	background-color: rgba(98, 129, 164);
	border-radius: 8px;
	margin-bottom: 10px; 
	padding: 10px 10px;
	color: 	rgba(255, 255, 255, 1);
}
.social-block {
	display: flex;
	flex-direction: start;
	justify-content: center;
}

/* Product create */

.create-block {
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}

/* login */

.login-block {
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}

/* Success page */

.success-block {
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6); 
	box-shadow: -7px 5px 18px 5px rgba(0,0,0,0.6);
}