{% extends 'base.html' %}

{% block additional_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block search %}
  <form class="search-form" action="{% url 'app:product_list' %}">
    {{ search_form }}
    <button class="search-btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="search-icon bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </form>
{% endblock %}

{% block left_nav %}
	<div class="nav-panel">
    <a class="nav-link nav-link-active" href="{% url 'app:product_list' %}">Main</a>
    <a class="nav-link" href="{% url 'app:product_create' %}">Add product</a>
		<a class="nav-link" href="">About us</a>
	</div>
{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="top-button-block">
      <div class="top-back-btn-block">
        <button class="back-btn" onclick="window.history.go(-1); return false;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </button>
      </div>
      <div class="country-block">
        {% if object.country %}
        <img src="/media/flags-svg/{{ object.country.flag_img_name }}" width="32" height="32">
        <p>({{ object.country.name }})</p>
        {% endif %}
      </div>
    </div>

    
    
    <div class="info-block">
      <div></div>
      <div class="name-block">
        <h2> {{ object.brand }} - {{ object.line }} - {{ object.name }}</h2>
      </div>

      <div></div>
      <div class="detail-img-block">
        <div class="detail-img-side">
          <p class="social-title">bye on</p>
          <a class="social-icon" href="{{ object.ebay_link }}">
            <img class="social-img-left" src="/media/social/ebay.png" name="ebay-link">
          </a>
          <a class="social-icon" href="{{ object.amazon_link }}">
            <img  class="social-img-left" src="/media/social/amazon.png" name="blog-link">
          </a>
        </div>

        <img class="detail-img" src="{{ object.img.url }}" alt="{{ object.name }}">

        <div class="detail-img-side">
          <p class="social-title">rewies</p>
          <a class="social-icon" href="{{ object.youtube_link }}">
            <img  class="social-img-right" src="/media/social/youtube.png" name="youtube-link">
          </a>
          <a class="social-icon" href="{{ object.blog_link }}">
            <img class="social-img-right" src="/media/social/youtube.png" name="youtube-link">
          </a>
        </div>
      </div>

      <div></div>
      <div class="social-block">
        <a class="bottom-social-icon-wrapper" href="{{ object.facebook_link }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottom-social-icon bi bi-facebook facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        </a>
        <a class="bottom-social-icon-wrapper" href="{{ object.instagram_link }}">
          <img src="/media/social/instagram.svg" width="40" height="40">
        </a>
        <a class="bottom-social-icon-wrapper" href="{{ object.telegram_link }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottom-social-icon bi bi-telegram telegram" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
          </svg>
        </a>
      </div>

      <div class="card-property-name"><strong>Effect type:</strong></div>
      <div class="card-property"><p>{{ object.effect_type }}</p></div>
      
      <div class="card-property-name"><strong>Skin type:</strong></div>
      <div class="card-property"><p>{{ object.skin_type }}</p></div>
      
      <div class="card-property-name"><strong>For what:</strong></div>
      <div class="card-property"><p>{{ object.for_what }}</p></div>

      {% if object.ph %}
        <div class="card-property-name"><strong>pH:</strong></div>
        <div class="card-property"><p>{{ object.ph }}</p></div>
      {% endif %}

      <div class="card-property-name"><strong>Ingredients:</strong></div>
      <div class="card-property"><p>{{ object.ingredients }}</p></div>

      {% if object.ingredients_img %}
        <div class="card-property-name card-ingredients-img-name"><strong>Ingredients img:</strong></div>
        <div class="detail-img-block">
          <img class="detail-img detail-ingredients-img" src="{{ object.ingredients_img.url }}" name="{{ object.name }}/consistency">
        </div>
      {% endif %}   
    </div>      

    <div class="bottom-btn-block">
      <div class="bottom-back-btn-wrapper">
        <button class="back-btn" onclick="window.history.go(-1); return false;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </button>
      </div>
    </div>
     
  </div>
{% endblock %}