{% extends 'base.html' %}

{% block additional_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block search %}
	<form class="search-form" action="{% url 'app:product_list' %}">
		{{ search_form }}
		<button class="search-btn">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</button>
	</form>
{% endblock %}

{% block left_nav %}
	<div class="nav-panel">
		<a class="nav-link" href="{% url 'app:product_list' %}">Search</a>
		<a class="nav-link" href="{% url 'app:product_create' %}">Add product</a>
		<a class="nav-link" href="{% url 'app:about_us' %}">About us</a>
	</div>
{% endblock %}

{% block content %}
<div class="content-container">
	{% if object_list %}
	{% for product in object_list %}
	<a class="list-item-link" href="{{ product.get_absolute_url }}">
		<div class="list-row">		
			<img class="list-img" src="{{ product.img.url }}" alt="{{ product.name }}">
			<div class="product-simple-info">
				<h2>{{ product.name }}</h4> 
				{% if product.line %} 
					<p>{{ product.brand }} - {{ product.line }}</p>
				{% else %}
					<p>{{ product.brand }}</p>
				{% endif %}
			</div>	
			<img class="list-country-img" src="/media/flags-svg/{{ product.brand.country.flag_img_name }}">	
		</div>
	</a>
	{% endfor %}
	{% else %}
		<div class="not-content">
			<p>Please enter data for search...</p>
			<img src="/media/search-waiting.png">
		</div>
	{% endif %}
</div>
{% endblock %}