{% extends 'base.html' %}

{% load i18n %}

{% block additional_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block search %}
  <form class="search-form" action="{% url 'app:product_list' %}">
    {{ search_form }}
    <button class="search-btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="search-icon bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </form>
{% endblock %}

{% block left_nav %}
	<div class="nav-panel">
    <a class="nav-link nav-link-active" href="{% url 'app:main_page' %}">{% trans 'Main' %}</a>
    <a class="nav-link" href="{% url 'app:product_create' %}">{% trans 'Add product' %}</a>
		<a class="nav-link" href="{% url 'app:about_us' %}">{% trans 'About us' %}</a>
	</div>
{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="top-button-block">
      <div class="top-back-btn-block">
        <button class="back-btn" onclick="window.history.go(-1); return false;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </button>
      </div>
      <div class="country-block">
        {% if object.country %}
        <img class="detail-country-img" src="/media/flags-svg/{{ object.country.flag_img_name }}" width="32" height="32">
        <p class="detail-country-name">{{ object.country.name }}</p>
        {% endif %}
      </div>
    </div>
  
    <div class="info-block">
      <div class="card-property-name"></div>
      <div class="name-block">
        {% if object.line %}
          <h2>{{ object.brand }} - {{ object.line }} - {{ object.name }}</h2>
        {% else %}
          <h2>{{ object.brand }} - {{ object.name }}</h2>
        {% endif %}
      </div>

      <div class="card-property-name"></div>
      <div class="detail-img-block">
        <div class="detail-img-side-left">
          <div class="social-title-block">
            <p class="social-title">{% trans 'buy on' %}</p>
          </div>
          <a class="social-icon" href="{{ object.ebay_link }}" target="_blank">
            <img class="social-img" src="/media/social/ebay-ball.svg" name="ebay-link">
          </a>
          <a class="social-icon" href="{{ object.amazon_link }}" target="_blank">
            <img  class="social-img" src="/media/social/amazon-ball.svg" name="blog-link">
          </a>
        </div>

        <img class="detail-img" src="{{ object.img.url }}" alt="{{ object.name }}">

        {% comment %} <div class="detail-img-side-right"></div> {% endcomment %}
      </div>

      <div class="card-property-name"></div>
      <div class="social-block">
        <a class="bottom-social-icon-wrapper" href="{{ object.facebook_link }}" target="_blank">
          <img class="bottom-social-icon" src="/media/social/facebook-ball.svg">
        </a>
        <a class="bottom-social-icon-wrapper" href="{{ object.instagram_link }}" target="_blank">
          <img class="bottom-social-icon" src="/media/social/instagram.svg">
        </a>
        <a class="bottom-social-icon-wrapper" href="{{ object.telegram_link }}" target="_blank">
          <img class="bottom-social-icon" src="/media/social/telegram-ball.svg">
        </a>
        <a class="bottom-social-icon-wrapper" href="{{ object.youtube_link }}" target="_blank">
          <img class="bottom-social-icon" src="/media/social/youtube-ball.svg">
        </a>
      </div>

      <div class="card-property-name"><strong>{% trans 'Effect type' %}</strong></div>
      <div class="card-property"><span>{{ object.effect_type | lower }}</span></div>
      
      <div class="card-property-name"><strong>{% trans 'Skin type' %}</strong></div>
      <div class="card-property"><span>{{ object.skin_type | lower }}</span></div>
      
      <div class="card-property-name"><strong>{% trans 'For what' %}</strong></div>
      <div class="card-property"><span>{{ object.for_what | lower }}</span></div>

      {% if object.ph %}
        <div class="card-property-name"><strong>pH</strong></div>
        <div class="card-property"><span>{{ object.ph }}</span></div>
      {% endif %} 

      <div class="card-property-name card-property-name-ingredients">
        <strong>{% trans 'Ingredients' %}</strong>
        <div class="card-property-name-info">
          <div>
            <sup class="safe">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
              </svg>
            </sup>
            <small> - {% trans 'safe' %}</small>
          </div>
          <div>
            <sup class="neutral">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
              </svg>
            </sup>
            <small> - {% trans 'neutral' %}</small>
          </div>
          <div>
            <sup class="harmful">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
              </svg>
            </sup>
            <small> - {% trans 'harmful' %}</small>
          </div>
          <div>
            <sup class="absent">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
              </svg>
            </sup>
            <small> - {% trans 'data is absent' %}</small>
          </div>
        </div>
      </div>
      <div class="card-property-ingredients">
        {% for ingredient in object.ingredients_list.all %}
          {% if ingredient.safety_classification == 'safe' %}
            <div class="card-property-block">
              <div class="card-ingredients-link">
                <span>{{ ingredient.name }}</span>
                <sup class="safe">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                  </svg>
                </sup>
                <span class="card-incredient-link-comma">,</span>
              </div>
              <div class="card-property-drop-block">
                <h4 class="card-property-drop-block-title">{{ ingredient.name }}</h4>
                <span>{{ ingredient.description }}</span>
              </div>
            </div>
          {% elif ingredient.safety_classification == 'neutral' %}
            <div class="card-property-block">
              <div class="card-ingredients-link">
                <span>{{ ingredient.name }}</span>
                <sup class="neutral">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                  </svg>
                </sup>
                <span class="card-incredient-link-comma">,</span>
              </div>
              <div class="card-property-drop-block">
                <h4 class="card-property-drop-block-title">{{ ingredient.name }}</h4>
                <span>{{ ingredient.description }}</span>
              </div>
            </div>
          {% elif ingredient.safety_classification == 'harmful' %}
            <div class="card-property-block">
              <div class="card-ingredients-link">
                <span>{{ ingredient.name }}</span>
                <sup class="harmful">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                  </svg>
                </sup>
                <span class="card-incredient-link-comma">,</span>
              </div>
              <div class="card-property-drop-block">
                <h4 class="card-property-drop-block-title">{{ ingredient.name }}</h4>
                <span>{{ ingredient.description }}</span>
              </div>
            </div>
          {% else %}
            <div class="card-ingredients-link">
              <span>{{ ingredient.name }}</span>
              <sup class="absent">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                </svg>
              </sup>
              <span class="card-incredient-link-comma">,</span>
            </div>
          {% endif %}
        {% endfor %}
      </div> 
    </div>      

    <div class="bottom-btn-block">
      <div class="bottom-back-btn-wrapper">
        <button class="back-btn" onclick="window.history.go(-1); return false;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </button>
      </div>
    </div>
     
  </div>
{% endblock %}