{% extends 'base.html' %}

{% load i18n %}

{% block additional_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block left_nav %}
	<div class="nav-panel">
		<a class="nav-link nav-link" href="{% url 'app:main_page' %}">{% trans 'Main' %}</a>
		<a class="nav-link" href="{% url 'app:product_create' %}">{% trans 'Add product' %}</a>
		<a class="nav-link" href="{% url 'app:about_us' %}">{% trans 'About us' %}</a>
	</div>
{% endblock %}

{% block content %}
<div class="content-container login-block">
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<button type="submit">log in</button>
	</form>
	<a href="{% url 'acc:registration' %}">registration</a>
</div>
{% endblock %}