{% extends 'base.html' %}

{% block additional_style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block left_nav %}
	<div class="nav-panel">
		<a class="nav-link" href="{% url 'app:product_list' %}">Search</a>
		<a class="nav-link" href="{% url 'app:product_create' %}">Add product</a>
		<a class="nav-link nav-link-active" href="{% url 'app:about_us' %}">About us</a>
	</div>
{% endblock %}

{% block content %}
	<div class="content-container">

		<div class="about-us-wrapper-left">
			<img class="wrapper-img" src="/media/search-waiting.png">
			<div class="wrapper-msg">Thank you to the visit us.</div>
		</div>

		<div class="about-us-wrapper-right">
			<div class="wrapper-msg">We try make for you simle and easy application, where you can search a many different cosmetic products from the countrys all of world and see the details about tham.</div>
			<img class="wrapper-img" src="/media/search-waiting.png">
		</div>

	</div>
{% endblock %}