<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CosMoS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}">
    {% block additional_style %}{% endblock %}
  </head>
  <body>
      <div class="grid-wrapper content-container">
      <div class="grid-item left-nav">
        {% block search %}
        {% endblock %}
      </div>
      <div class="grid-item">
        {% block content %}{% endblock %}
      </div>   
    </div>  
  </body>
</html>