{% extends 'base.html' %}

{% block additional_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block content %}
	<div class="content-container">
		<div class="success-block">
			<p>The request has been successfully sended. When a moderator will approve your request it adding at the database. Thank you so much for the help!</p>
			<a class="success-link" href="{% url 'app:product_list' %}">Back to the main page</a>
		</div>	
	</div>
{% endblock %}